// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
body {
  font-size: 15px; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -.01rem;
  font-family: Optima, Palatino, "Microsoft Yahei","Raleway", sans-serif,"HelveticaNeue", "Helvetica Neue", Helvetica;
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #222; }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-weight: 400; }
  h1 { font-size: 2.0rem; line-height: 1.2;  letter-spacing: -.01rem;font-weight: 150}
  h2 { font-size: 2.0rem; line-height: 1.2; letter-spacing: -.01rem; font-weight: 150 }
  h3 { font-size: 2.8rem; line-height: 1.3;  letter-spacing: -.01rem; font-weight: 400}
  h4 { font-size: 2.4rem; line-height: 1.2; letter-spacing: -.01rem; font-weight: 150}
  h5 { font-size: 2.2rem; line-height: 1.2;  letter-spacing: -.01rem; font-weight: 150}
  h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; font-weight: 150}

code {
  font-size: 13px;
  padding: 0.2em 0.4em;
  border: none;
}

a {
  color: #4b2e83; }
a:hover {
  color: #4b2e83; }

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  h2 {
    height: 10%;
    font-weight: 500;
  }

  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 0em;
    }
  }

}

